/*
** 
** HTML STRUCTURE
** 

.add-message-wrapper
  .add-message-form
    .add-message-input
    .add-message-btn
*/


/* ADD MESSAGE INPUT */

.add-message-wrapper {

}
.add-message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-message-input {
  width: calc(100% - 68px);
  padding: 21px 15px;
  
  color: var(--primary-dark);
  font-size: 0.9em;

  border: none;
  box-sizing: border-box;
  border: 3px solid #fff;
}
.add-message-input:focus {
  outline: none;
  border: 3px solid var(--primary-dark);
}


/* ADD MESSAGE BUTTON */

.add-message-btn {
  padding: 22px 25px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  
  color: var(--primary-dark);
  background: var(--golden);

  transition: color ease-in-out .3s;
  transition: background ease-in-out .3s;
}
.add-message-btn:focus,
.add-message-btn:hover {
  color: #fff;
  background: var(--primary-dark);
  
  transition: color ease-in-out .3s;
  transition: background ease-in-out .3s;

  outline: none;
}