/*
** 
** HTML STRUCTURE
** 

.session-info
    .loggedin-user
    .logout-btn
*/


/* Session info wrapper */

.session-info {
    display: flex;
    justify-content: flex-end;
    align-content: end;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 767px) {
    .visible-mobile {
        display: block;
    }
}
@media (min-width: 767px) {
    .visible-mobile {
        display: none;
    }
}

/* User logged-in message */

.loggedin-user {
    margin-right: 10px;
}


/* Logout button */

.logout-btn {
    padding: 20px 25px 21px 25px;
    height: 100%;
    
    border: none;
    color: #fff; 
    background: var(--primary-dark);
    font-size: 1rem;
    cursor: pointer;

    transition: color ease-in-out .5s;
    transition: background ease-in-out .5s;
}


/* Hover */

.logout-btn:hover {
    cursor: pointer;
    
    color: var(--primary-dark);
    background: var(--golden);
    
    transition: color ease-in-out .5s;
    transition: background ease-in-out .5s;
}
