/* 
** 
** HTML STRUCTURE
** 

.messages-wrapper - Used also for the scrollTop height
  .messages
    div - Usef so that the <Loader /> component can fit just the parent's height
      .message-wrapper { sent / reply }
        .message-author-avatar
          img
        .message-content
          .message-info
            .message-author
            .message-time
          .message-text
*/

.message-wrapper {
  margin: 0;
  padding: 0;
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}
.message-wrapper:nth-last-child(1) {
  margin-bottom: 20px;
}

.message-author-avatar img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 20px 0 0 8px;
}

.message-info {
  display: block;
  max-width: 50%;
  margin-bottom: 5px;
}
.message-author {
  display: inline-block;
  margin-left: 25px;
  margin-right: 10px;
  font-weight: bold;
}
.message-time {
  display: inline-block;
  color: rgba(50, 70, 90, 0.4);
}

.message-text {
  display: inline-block;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
}


/* My message */

.message-wrapper.sent .message-text {
  background: var(--primary-dark);
  color: #fff;
}


/* Other's replies */

.message-wrapper.reply .message-text {
  background: #fff;
}


/* Scrollbar */

.messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.messages::-webkit-scrollbar-thumb {
  background-color: var(--golden);
}

@media (max-width: 767px) {
  .message-info {
    max-width: 100%;
  }
}
