/*
** 
** HTML STRUCTURE
** 

.rooms
  h3
  ul
  li.room
    a
*/


/* ROOMS */

.rooms::-webkit-scrollbar {
  width: 8px;
  background: rgba(250, 190, 26, 0.9);
}
.rooms::-webkit-scrollbar-thumb {
  background-color: var(--primary-dark);
}

.rooms h3 {
  padding-left: 20px;
}

/* ROOM */

.room {
  padding: 0;
  margin: 0;

  font-size: 0.9em;

  background: rgba(47, 51, 61, 0.9);
  transition: background ease-in-out .3s;
}
.room a {
  display: block;
  padding: 15px 20px;

  color: #fff;
  text-decoration: none;

  transition: color ease-in-out .3s;
}


/* Hover */

.room:hover {
  background: rgba(250, 190, 26, 0.7);
  transition: background ease-in-out .3s;
}
.room:hover a {
  color: #fff;
  transition: color ease-in-out .3s;
}
.room a:hover {
  cursor: pointer !important;
}


/* Active */

.room.active {
  background: rgba(250, 190, 26, 0.9);
}
.room.active a {
  color: var(--primary-dark);
}