.toggle-sidebar-btn {
    margin-right: auto;
    padding: 15px 25px;

    border: none;
    color: #fff; 
    background: var(--primary-dark);
    font-size: 1rem;
    cursor: pointer;

    transition: color ease-in-out .5s;
    transition: background ease-in-out .5s;
}

/* Hover */

.toggle-sidebar-btn:hover {
    color: var(--primary-dark);
    background: var(--golden);
    
    transition: color ease-in-out .5s;
    transition: background ease-in-out .5s;
}
