/*
** 
** HTML STRUCTURE
** 

.login
    .add-message-form
    h1
    form
        .form-row
            input
        .form-row
            button
*/


.login { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: auto;
    background: #fff;
    padding: 2rem;
    box-shadow: 15px 15px 15px var(--primary-dark);
}
.login h1 {
    color: var(--primary-dark);
    letter-spacing: 1px;
    text-align: center;
    margin-top: 0;
}
.login .form-row {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}
.login input {
    display: block;
    width: 100%;
    padding: .75rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: var(--primary-dark);
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 2px solid var(--secondary-dark);
    border-radius: .25rem;

    box-sizing: border-box;
    transition: border-color ease-in-out .15s;
}
.login input:focus {
    color: #000;
    background: rgb(255,255,255);
    border: 2px solid var(--primary-dark);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);

    transition: border-color ease-in-out .15s;
}
.login button { 
    display: block; 
    width: 100%;
    padding: .75rem .75rem;

    text-align: center;
    font-size: 15px; 
    font-weight: bold;
    line-height: normal;
    cursor: pointer;
    
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);

    border-radius: 5px;
    border: 1px solid var(--secondary-dark);
    background: var(--golden);
    color: var(--primary-dark);

    transition: border-color ease-in-out 1s;
    transition: background-color ease-in-out 1s;
    transition: color ease-in-out .5s;
}
.login button:focus,
.login button:hover {
    border: 1px solid var(--primary-dark);
    background: var(--primary-dark);
    color: var(--golden);

    transition: border-color ease-in-out 1s;
    transition: background-color ease-in-out 1s;
    transition: color ease-in-out .5s;
}
.error {
    color: #f04b66;
    padding: 7px 0;
}
@media (max-width: 767px) {
    .login {
        left: 0;
        top: 50%;
        position: relative;

        width: auto;
        display: block;
        
        margin: 50% 20px 0 20px;
    }
}
