:root {
  --primary-dark: #2F333d;
  --secondary-dark: #7e7F8c;

  --light-red: #f04b66;
  --dark-red: #a94459;

  --golden: #fabe1a;
  --sea-green: #04ab99;

  --original-blue: #4a77d4;
  --light-grey: #e6eaea;
}